.table-container {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
}

table {
  border: 2px solid black;
  width: min(800px, 90%);
  height: 200px;
  background-color: var(--off-white);
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}
