*,
*::after,
*::before {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* color variables */
:root {
  --off-white: #fff9f9;
  --off-black: rgb(29, 29, 29);
  --dark-blue: #1b273f;
  --light-blue: #4aa0df;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  overflow-x: hidden;
  overflow-y: scroll !important;
}
